// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ui-datepicker-div{
	margin-left: 255px;
	margin-top: -35px;
}

body{
	padding-left: 26px; 
}

.odd{
    background:#dedede;
}

li{
	height: 192px; 
}

.imageContainer{
	float: left; 

}

.modal {
	width: 620px; 
}

.modal.fade.in{
	top: 39%; 
}

.textContainer{
	margin-top: 13px;
	overflow: hidden;
	margin-left: 241px;
}

.image{
	margin-left: 22px; 
	margin-top: 19px; 
}

#loadingDiv {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

.book-button{
	position: absolute; 
	right: 15px; 
	margin-top: -62px;  
}

.rate{
	font-size: 17.5px;
	position: absolute;
	right: 15px;
	margin-top: -104px;
}

iframe {
    display: block; 
    margin: 0 auto;
    background-color: #777;
    overflow-y: hidden;
    overflow-x: hidden;
}

.closeit{
	display: none; 
}

.description{
	width: 54%; 
}