<!DOCTYPE html>
<html>
<head>
  <title>HockingHills</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :defaults, "application" , "rails.validations" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
